#intro
  text-align: center

  div
    width: 80%
    margin: auto

  h1, h2, h3, h4
    position: relative
    border: none
    -webkit-transform: translate(0, 0)
    -moz-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
