@import vim-tmux-vars-and-mixins
@import vim-tmux-title
@import vim-tmux-content
@import vim-tmux-screenshot

body
  font-family: "Bitstream Vera Sans Mono", "Monaco", "Consolas", "Courier New", monospace
  color: $text-color
  text-shadow: 0px 0px 12px rgba(20,252,3,0.75)
  background: url('/assets/images/vim_tmux_background.png')

  article.deck-container
    width: 75%
    color: $text-color

    .deck-link-next, .deck-link-prev
      a
        color: $text-color

    pre, code
      background-color: #222

    pre
      margin: 0px auto
      border: none
      width: 80%
      font-size: 1.25em
      @include rounded-corners

    code
      border: 1px solid #333
      color: #4183C4
      @include rounded-corners(3px)
      padding: 0px 5px

    pre code
      border: none
