#intro {
  text-align: center; }
  #intro div {
    width: 80%;
    margin: auto; }
  #intro h1, #intro h2, #intro h3, #intro h4 {
    position: relative;
    border: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
