.title {
  text-align: center; }
  .title div {
    top: 40%;
    position: absolute;
    width: 100%; }
  .title h1, .title h2, .title h3, .title h4 {
    position: relative;
    border: none;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

#intro.title h1, #intro.title h2, #intro.title h3, #intro.title h4 {
  position: relative; }
#intro.title div {
  top: 30%; }

.title.with-sub-title h1, .title.with-sub-title h2, .title.with-sub-title h3, .title.with-sub-title h4 {
  position: relative; }
.title.with-sub-title h1 {
  line-height: 0.9em; }
.title.with-sub-title div {
  top: 40%; }
